//
//  Prod-Debug.xcconfig
//  SantanderTask
//
//  Created by Farid Ullah on 21/12/2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../Pods/Target Support Files/Pods-SantanderTask/Pods-SantanderTask.debug(prod).xcconfig"
#include "Prod.xcconfig"
